/* banner 轮播图区*/
.banner{
	width: 100%;
	height: 390px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	z-index: 200;
}
.ban-ul{
	height: 100%;
	min-width: 1190px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.ban-ul li{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.ban-ul .ban-ul-li1{
	background: rgb(236, 113, 123);
	display: block;
}
.ban-ul-li2{
	background: rgb(32, 182, 205);
}
.ban-ul-li3{
	background: rgb(197, 238, 235);
}
.ban-ul-li4{
	background: rgb(251, 214, 74);
}
.ban-ul-li5{
	background: rgb(249, 66, 34);
}
.ban-ul-div{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.ban-ul li a{
	display: block;
	width: 780px;
	position: absolute;
	left: 230px;
}
.ul-div-img{
	position: absolute;
	top: 380px;
	left: 230px;
}
.index-ul{
	width: 1190px;
	height: 30px;
	z-index: 500;
	margin: 0 auto;
	position: relative;
	top: 387px;
}
.index-ul-2 div{
	float: left;
	width: 155px;
	border-right: 1px solid #666;
	height: 30px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.index-ul-2 .index-back{
	background: #0cb95f;
}
.index-ul .index-ul-2{
	width: 780px;
	height: 30px;
	margin-left: 230px;
}
.index-box{
	width: 1190px;
	margin: 0 auto;
	position: relative;
	padding-left: 230px;
	box-sizing: border-box;
	height: 50px;
	top: 130px;
	z-index: 500;
	font-size: 20px;
	color: #fff;
}
.index-left,.index-right{
	position: absolute;
	height: 60px;
	width: 30px;
	text-align: center;
	line-height: 50px;
	background-image: url(../imgs/public/icons.png);
	background-color: rgba(200,200,200,0.4);
	background-position: -348px -138px;
}
.index-box .index-right{
	left: 980px;
	background-position: -382px -138px
}
.ban-ul .ad{
	display: block;
	width: 180px;
	height: 390px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 888;
	opacity: 0.9;
}
.ban-ul .ad a{
	position: relative;
	left: 0;
	height: 196px;
}

/*tab 选项卡*/

/*banner 图下tab 选项卡*/
.tab-box{
	width: 100%;
}
.tab{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.tab-box a:hover{
	color: #0cb95f;
	text-decoration: underline;
}
.tab-one{
	height: 250px;
	margin-bottom: 20px;
}
.tab-ul{
	border-bottom: 1px solid #0cb95f;
	height: 42px;
}
.tab-ul a:hover{
	text-decoration: none;
}
.title-right a:hover{
	color: #fff;
	text-decoration: none;
}
.tab-ul li{
	float: left;
	position: relative;
	width: 140px;
	height: 42px;
	text-align: center;
	line-height: 30px;
}
.tab-ul li a{
	position: relative;
	display: block;
	border-bottom: 1px solid #0cb95f;
	font-size: 16px;
	line-height: 42px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.tab-ul li a i{
	position: absolute;
	bottom: -1px;
	left: 70px;
	display: none;
	width: 10px;
	height: 6px;
	background: url(../imgs/public/icons.png) -156px -4px;
}
.tab-ul .tab-color{
	color: #0cb95f;
}
.tab-ul .tab-color i{
	display: block;
}
.tab-div{
	position: absolute;
	left: 0;
	top: 43px;
	width: 100%;
	display: none;
}
.tab-div a{
	display: block;
	width: 296px;
	float: left;
	margin-right: 2px;
	height: 200px;
}
.tab-div a:last-child{
	margin: 0;
}

/*一楼中西药品*/
.stair-one{
	margin-bottom: 20px;
}
.stair-one .title-span{
	margin: 8px 0;
	float: left;
}
.title-span i{
	background: #0cb95f;
	font-style: normal;
	float: left;
	display: block;
	width: 22px;
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}
.title-span i.l{
	text-align: right;
	padding-right: 4px;
	border-bottom-left-radius: 13px;
	border-top-left-radius: 13px;
}
.title-span i.r{
	text-align: left;
	padding-left: 4px;
	border-bottom-right-radius: 13px;
	border-top-right-radius: 13px;
	margin-left: 2px;
}
.stair-title{
	margin-bottom: 5px;
	height: 40px;
	line-height: 40px;
}
.stair-title h2{
	float: left;
	font-size: 20px;
	color: #333;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}
.title-right{
	float: right;
	height: 14px;
	margin: 16px 0 9px;
}
.title-right a{
	display: block;
	float: right;
	height: 20px;
	line-height: 20px;
	padding: 0 4px;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	text-align: center;
	color: #333;
}
.title-right label{
	float: right;
	display: block;
	height: 14px;
	line-height: 14px;
	margin: 3px 8px;
	color: #ccc;
}
.title-right .title-color{
	background: #0cb95f;
	color: #fff;
}
.title-color i{
	background: url(../imgs/public/icons.png) -406px -32px;
	width: 9px;
	height: 6px;
	display: block;
	margin-left: 23px;
}
.stair-content{
	clear: both;
	overflow: hidden;
	position: relative;
}
.stair-content .contnet-right:last-child{
	display: block;
}
.content-left{
	width: 300px;
	float: left;
	position: relative;
	clear: both;
}
.content-left-ul{
	width: 300px;
	height: 360px;
	position: relative;
	overflow: hidden;
}
.content-left-ul li{
	position: absolute;
	cursor: pointer;
	float: left;
}
.left-btn-box{
	width: 300px;
	height: 60px;
	left: 0;
	top: 150px;
	position: absolute;
}
.left-btn-box a{
	background-image: url(../imgs/public/icons.png);
	display: block;
	height: 60px;
	position: absolute;
	width: 30px;
	top: 0;
	background-position: -348px -138px;
}
.left-btn-box .left-btn-box-right{
	background-position: -382px -138px;
	right: 0;
}
.content-left-brand{
	border: 1px solid #e5e5e5;
	width: 298px;
	clear: both;
	overflow: hidden;
    border-bottom: 0;
}
.content-left-brand a{
	display: block;
	height: 71px;
	border-bottom: 1px solid #e5e5e5;
	float: left;
	width: 149px;
}
.content-left-brand .brand-fi1{
	width: 148px;
	border-right: 1px solid #e5e5e5;
}
.content-left-brand a img{
	width: 140px;
	height: 60px;
	margin: 5px 0 0 3px;
}
.contnet-right{
	overflow: hidden;
	display: none;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	top: 0;
	left: 300px;
}
.contnet-right li{
	float: left;
	height: 267px;
	width: 186px;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	position: relative;
	padding: 10px 18px 10px 18px;
}
.contnet-right .photo{
	text-align: center;
	display: block;
}
.contnet-right li img{
	height: 174px;
	width: 174px;
	transition: all 0.2s linear;
}
.contnet-right .li-last{
	width: 184px;
}
.contnet-right li a:hover img{
	-webkit-transform: translateX(-10px);
}
.contnet-right .right-txt{
	display: block;
	height: 20px;
	line-height: 20px;
	margin: 15px 0 0;
	overflow: hidden;
	color: #333;
}
.right-p-st{
	color: #999;
	display: block;
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
	overflow: hidden;
}
.right-p-money{
	font-size: 14px;
	text-align: left;
	color: #e50000;
	font-family: Arial;
}
.content-left-div{
	width: 300px;
	height: 360px;
	position: relative;
	background: url(../imgs/index/tab/pfcg/pfcg.png) no-repeat;
	padding-left: 18px;
	padding-top: 18px;
    box-sizing: border-box;
}
.content-left-div a{
	display: block;
	width: 50px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	color: #666;
	float: left;
	margin: 8px;
	text-align: center;
	padding: 21px 11px;
}
.content-left-div a:hover{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-decoration: underline;
}


/*固定搜索框*/
.fixe-back{
	width: 100%;
	height: 60px;
	background-color: #000;
	opacity: 0.8;
	position: fixed;
	top: 0;
	display: none;
}
.fixe-ss{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 99999;
	display: none;
}
.ss-div{
	width: 1190px;
	margin: 0 auto;
	height: 60px;
	position: relative;
}
.ss-logo{
	width: 160px;
	height: 40px;
	display: block;
	position: absolute;
	left: 10px;
	top: 7px;
	background: url(../imgs/index/logo2.png);
}
.ss-form{
	position: absolute;
	top: 10px;
	left: 300px;
	width: 690px;
	height: 36px;
	border: 2px solid #0cb95f;
	line-height: 36px;
}
.ss-form ul{
	position: absolute;
	left: 0;
	z-index: 998;
	overflow: hidden;
	width: 80px;
	height: 35px;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	background: #fff;
}
.ss-form ul li{
	height: 36px;
	line-height: 36px;
}
.ss-form ul li a{
	display: block;
	padding: 0 10px 0 25px;
}
.ss-form .ss-form-fixe{
	display: block;
	position: absolute;
	top: 11px;
	right: 8px;
	width: 15px;	
	height: 15px;
	background: url(../imgs/public/icons.png) -109px 1px;
}
.ss-form-ipt{
	width: 498px;
	float: left;
	margin-left: 82px;
	padding: 5px 10px;
	height: 26px;
	border: 0;
	line-height: 26px;
	background: #fff;
}

/*banner2 区*/
.banner_2{
	width: 1190px;
	height: 110px;
	margin: 10px auto;
	position: relative;
}
.banner_2 .ban-gg{
	position: absolute;
	bottom: 0px;
	left: 0;
}

/* 阅读区 */
.read{
	width: 1190px;
	margin: 10px auto;
	height: 276px;
}
.news{
	width: 381px;
	border: 1px solid #e5e5e5;
	float: left;
	overflow: hidden;
}
.news-title{
	line-height: 40px;
	background: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 20px;
	overflow: hidden;
}
.news-title h4{
	font-size: 14px;
	float: left;
	width: 100px;
	color: #666;
	font-weight: normal;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.news-title a{
	float: right;
	color: #999;
	width: 50px;
	display: block;
}
.news-top{
	height: 92px;
	padding: 8px 0 6px;
	position: relative;
}
.top-a1{
	display: block;
	float: left;
	padding: 10px 15px 0 15px;
	width: 100px;
	position: relative;
	color: #333;
}
.top-a1 img{
	width: 100px;
	height: 80px;
}
.news-one{
	float: left;
	width: 230px;
	padding: 10px 10px 0 0;
}
.news-one a{
	display: block;
	height: 16px;
	line-height: 16px;
	margin-right: 0;
	margin-left: 0;
	margin-top: 5px;
	overflow: hidden;
	font-weight: bold;
	color: #333;
}
.new-txt{
	line-height: 20px;
	color: #666;
	margin-top: 10px;
}
.news-ul{
	padding: 5px 17px 10px;
}
.news-ul li{
	line-height: 28px;
	white-space: normal;
	overflow: hidden;
}
.news-ul li a{
	color: #666;
}
.read-center{
	margin: 0 20px;
}
.raed-num{
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 16px;
	margin-right: 3px;
	color: #fff;
	font-style: italic;
	display: inline-block;
}
.raed-one{
	position: absolute;
	background: #e16070;
	top: 18px;
	left: 15px;
}
.raed-two{
	background: #ffbc1d;
}
.raed-theer{
	background: #6aabea;
}
.discuss-box{
	height: 233px;
	overflow: hidden;
	position: relative;
}
.discuss-ul{
	position: absolute;
	padding: 10px;
}
.discuss-ul li{
	color: #666;
	clear: both;
	display: block;
	width: 360px;
	overflow: hidden;
}
.discuss-div{
	padding: 10px 0;
	border-bottom: 1px dashed #e5e5e5;
	overflow: hidden;
}
.discuss-left{
	display: inline;
	float: left;
	width: 50px;
}
.discuss-left{
	display: inline;
	float: left;
	width: 50px;
}
.discuss-left img{
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.discuss-left p{
	text-align: center;
	color: #666;
	padding: 5px 0;
	overflow: hidden;
	height: 24px;
	line-height: 34px;
}
.discuss-right{
	display: inline;
	float: left;
	margin-left: 20px;
	width: 276px;
	position: relative;
}
.discuss-content{
	background: #f4f4f4;
	padding: 5px 15px ;
	height: 48px;
	color: #666;
	line-height: 24px;
}
.discuss-content i{
	position: absolute;
	left: -7px;
	top: 20px;
	width: 8px;
	height: 12px;
	background: url(../imgs/public/icons.png) -265px -292px;
}
.discuss-data{
	margin-top: 5px;
	color: #999;
	height: 24px;
	line-height: 24px;
}
.discuss-data a{
	padding: 0 10px;
	color: #999;
}
.discuss-data span{
	float: right;
}

/*热门商品 友情链接*/
.hot-box{
	width: 1190px;
	margin: 20px auto;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}
.hot-top{
	border-bottom: 1px solid #e5e5e5;
	line-height: 40px;
	height: 40px;
	background: #f4f4f4;
}
.hot-top h3{
	display: block;
	float: left;
	width: 137px;
	text-align: center;
	color: #333;
	line-height: 40px;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.hot-top .a-style{
	height: 41px;
	background: #fff;
	border-right: 1px solid #e5e5e5;
}
.hot-content{
	padding: 20px 35px;
}
.hot-content a{
	display: block;
	float: left;
	margin: 10px 0;
	width: 110px;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 侧边楼梯 */
.fixe-stairs{
	display: none;
	position: fixed;
	left: -20px;
	top: 150px;
	background: #fff;
	width: 40px;
	z-index: 9999;
	border: 1px solid #e5e5e5;
}
.fixe-stairs li{
	display: block;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	height: 78px;
	width: 40px;
}
.fixe-stairs li a{
	height: 78px;
	width: 40px;
	display: block;
	position: relative;
}
.fixe-stairs li a span{
	color: #999;
	text-align: center;
	display: block;
	font-size: 12px;
	position: absolute;
	bottom: 10px;
	left: 0;
	line-height: 16px;
	padding: 0 6px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.fixe-stairs li a i{
	background-image: url(../imgs/public/icons.png);
	display: block;
	height: 24px;
	width: 20px;
	position: absolute;
	top: 9px;
	left: 10px;
}
.fixe-stairs .back{
	background-color: #0cb95f;
}
.fixe-stairs li a .b1{
	background-position: -172px -371px;
}
.fixe-stairs li a .b2{
	background-position: -188px -396px;
}
.fixe-stairs li a .b3{
	background-position: -206px -371px;
}
.fixe-stairs li a .b4{
	background-position: -228px -371px;
}
.fixe-stairs li a .b5{
	background-position: -251px -371px;
}
.fixe-stairs li a .b6{
	background-position: -276px -371px;
}
.fixe-stairs li a .b7{
	background-position: -300px -371px;
}
