.banner{
	background: url(../imgs/register/banner.jpg) center top;
	width: 100%;
	height: 530px;
	clear: both;
	overflow: hidden;
}
.ban{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.ban-a{
	width: 540px;
	height: 540px;
	float: left;
	display: block;
}
.from{
	background: #fff;
	margin: 50px 25px 0;
	padding: 20px 40px 20px 40px;
	width: 320px;
	float: right;
}
.wel{
	height: 50px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	line-height: 50px;
	position: relative;
	margin-bottom: 6px;
}
.wel-left{
	line-height: 50px;
	font-size: 16px;
	color: #333;
}
.wel-right{
	float: right;
	line-height: 50px;
	font-size: 14px;
	color: #333;
}
.wel-a{
	color: #0cb95f;
    text-decoration: underline;
}
.pwd{
	margin-bottom: 0px;
}
.wel i{
	background-image: url(../imgs/public/icons.png);
}
.ipt{
	height: 40px;
	width: 256px;
	padding: 0 20px 0 35px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.user-i{
	background-position: -351px -109px;
	width: 18px;
	height: 25px;
	display: inline-block;
	top: 12px;
	left: 10px;
	position: absolute;
}
.pwd-i{
	background-position: -371px -109px;
	width: 18px;
	height: 25px;
	display: inline-block;
	top: 12px;
	left: 10px;
	position: absolute;
}
.check{
	font-size: 14px;
	color: #333;
	margin-bottom: 0;
}
.ckbox{
	display: inline-block;
	cursor: pointer;
}
.ck{
	width: 12px;
	height: 12px;
	border: 1px solid #ccc;
	float: left;
	margin-top: 18px;
	margin-right: 5px;
}
.ck-back{
	background: url(../imgs/public/icons.png) -62px -28px;
}
.ck-a{
	float: right;
	color: #333;
	text-decoration: underline;
}
.ck-a:hover{
	color: #0cb95f;
}
.log{
	font-size: 18px;
	background-color: #0cb95f;
	text-align: center;
	cursor: pointer;
}
.log button{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #0cb95f;
	border:0;
	font-size: 18px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}
.in{
	margin-bottom: 0;
}
.else{
	overflow: hidden;
	margin-bottom: 20px;
}
.else a{
	background-image: url(../imgs/public/icons.png);
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
.QQ{
	background-position: -416px -142px;
}
.WX{
	background-position: -448px -142px;
}
.ZFB{
	background-position: -416px -174px;
}
.WB{
	background-position: -448px -174px;
}
.text{
	margin-bottom: 10px;
	color: #e16070;
	display: none;
	overflow: hidden;
}
.text span{
	float: left;
}
.txt-span{
	background: url(../imgs/public/icons.png)-280px -120px;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	display: block;
}
.verify{
	display: none;
}